<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Chat</title>
</head>
<body style="margin: 10%; color: rgb(26, 90, 26);">
    <h3 style="text-align: center;">Write a new Chat</h3>
    <form style="margin: 20px; text-align: center; border: 2px solid green;" method="POST" action="/chats">
        <input style="margin: 10px;" placeholder="Who are you?" name="from">
        <br>
        <textarea style="margin: 10px; " name="msg">Write your Message: </textarea>
        <br>
        <input style="margin: 10px;" placeholder="Add Reciever" name="to">
        <br>
        <button style="margin: 10px;">Create Chat</button>
    </form>
</body>
</html>